body {
	font-family: helvetica neue;
	background-color: #339999;
	background-image: url('../images/subway_bg.png');
	background-size: 500px 500px; 
    background-repeat: repeat-xy; 
	padding: 4em;
}

p {
	color: #626969;
}

h1 {
    color: #cc9966;
}

a:link {
	color: #33cccc;
}

.page {
    border-width: 20px;
    border-radius: 32px / 32px;
	background-color: #ebebeb;
	padding: inherit;
	opacity: 0.92;
	position: relative;
	z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0 32px 0 32px;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

#nav {
	width: 100%;
	float: right;
	margin: 0 0 3em 0;
    padding: 0;
    list-style-type: none;
    background-color: #33cccc;
    position: relative;
    z-index: 2;
}

#nav a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #33cccc;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    text-transform: lowercase;
}

#nav a:hover, a:active {
    background-color: #cc9966;
}

#logo{
	padding-left: 4em;
	padding-bottom: 1em;
	width: 330px;
	max-width: 330px;
}

#logo1 {
	padding-right: 0.25em;
	padding-bottom: 1em;
	width: 400px;
	max-width: 400px;
}

.heading {
	display: block;
	width: 100%;
	margin: -32px auto;
	padding-bottom: 32px;
    border-radius: 32px / 32px;
	background-color: #ebebeb;
	opacity: 0.95;
	position: relative;
	z-index: -1;
}

.copyright {
	margin: 0;
	text-align: center;
	display: block;
	color: #FFFFFF;
	padding: 1.5em 0;
	font-size: 0.75em;
	opacity: 0.75;
	text-transform: lowercase;
	font-weight: lighter;
}

.footer {
	display: table;
	margin: 0 auto;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-weight: bolder;
	text-transform: lowercase;
	text-decoration: none;
}

#bottomNav ul{
    list-style-type: none;
    padding: 0;
}

#bottomNav li {
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bottomNav a {
	padding: 0 32px;
}