/* Background and Main Site Content */

body {
	font-family: helvetica neue;
	background-color: #339999;
	background-image: url('../images/subway_bg.png');
	background-size: 500px 500px; 
    background-repeat: repeat-xy;
    background-attachment: fixed;
	padding: 4em;
}

p {
	color: #626969;
	padding-left: 2em;
	padding-right: 2.5em;
	font-size: 1.1em;
}

h1 {
    color: #cc9966;
    padding-bottom: 0.5em;
}

h2, h3 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	color: #cc9966;
	font-weight: bold;
	display: block;
}

img {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 1em;
	display: inline-block;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color:#339999; 
	background-color:transparent
}

a:hover, a:active {
	color:#33cccc; 
	background-color:transparent
}

.page {
    border-width: 100%;
    border-radius: 2em / 2em;
	background-color: #efefef;
	padding: 4em;
	opacity: 0.92;
}

.page hr {
	margin-right: 2em;
	margin: 2px 0;
	border: solid #dddddd;
}


/* Header - Introductory Images and Main Navigation */

.heading {
	display: inline-block;
	width: 100%;
	min-width: 100%;
	margin: -2em auto;
	padding-bottom: 2em;
    border-radius: 2em / 2em;
	background-color: #efefef;
	opacity: 0.95;
	position: relative;
	text-align: center;
	
}

#logo{
	padding-top: 2em;
	padding-bottom: 1em;
	width: 31em;
	min-width: 31em;
	max-width: 31em;
	margin-left: -5.5em;
	padding-right: 2.5em;
	text-align: justify;
	clear: both;
}

#logo1 {
	padding-bottom: 1em;
	width: 32em;
	min-width: 32em;
	max-width: 32em;
	margin-right: -5.5em;
	padding-left: 2.5em;
	text-align: justify;
	clear: both;
}

#nav ul {
    list-style-type: none;
    margin: 0 2em 0 2em;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: right;
}

#nav {
	font-size: 1.2em;
	width: 100%;
	float: right;
	margin: 0 0 3em 0;
    padding: 0;
    list-style-type: none;
    background-color: #33cccc;
    position: relative;
    z-index: 2;
}

#nav a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #33cccc;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    text-transform: lowercase;
}

#nav a:hover, a:active {
    background-color: #cc9966;
}


/* Footer - Site Navigation Aids and Copyright Info */

.menu {
	font-size: 1.1em;
	display: table;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: -0.5em;
	font-weight: bolder;
	text-transform: lowercase;
	text-decoration: none;
}

#bottomNav ul{
    list-style-type: none;
    padding: 0;
}

#bottomNav li {
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bottomNav a {
	padding: 0 32px;
}

#bottomNav a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#bottomNav a:hover {
	color: #33cccc;
}

.copyright {
	margin: 0;
	text-align: center;
	display: block;
	color: #FFFFFF;
	padding-top: 0.5em;
	font-size: 1em;
	opacity: 0.75;
	text-transform: lowercase;
	font-weight: lighter;
}


/* General Links */
.text a {
	text-decoration: none;
	color:#339999;
}

.text a:link {
	color:#339999; 
}

.text a:hover, a:active {
	color:#33cccc;
}


/* Collapse/Expand Project Page Formatting */

summary::-webkit-details-marker {
	color: #cc9966;
 	font-size: 1.25em;
 	margin-right: 1%;
 	float: left;
}

summary:focus {
	outline-style: none;
}

summary:before { 
	content: "+"; 
	color: #cc9966; 
	display: block; 
	float: right; 
	font-size: 1.25em; 
	font-weight: bold; 
	padding-right: 1.5em;
	text-align: center; 
}

summary:after { 
	content: "More info"; 
	color: #626969; 
	font-weight: normal;
	display: block; 
	float: right; 
	font-size: 0.7em;  
	padding-right: 6em;
	text-align: center; 
}

article {
	padding-bottom: 1em;
}

details[open] summary:before {
	content: "\2013"; 
	color: #cc9966;
}

details[open] summary:after {
	content: ""; 
}

article > details > summary {
	font-size: 1.5em;
	margin-top: 1em;
	color: #cc9966;
	font-weight: bold;
}

article > details > summary > p{
	font-size: 0.75em;
	margin-top: 1em;
	color: #626969;
	font-weight: normal;
}

details > p {
	color: #626969;
	font-size: 1.1em;
	padding-left: 2em;
	padding-right: 2em;
}

details details {
	font-size: 1.1em;
	margin-left: 2em;
}

details details summary {
	font-size: 1.1em;
}


/* Social Network and Contact Links */

.social{
	color: #339999;
	font-size: 3em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 0.25em;
}

.social ul{
    list-style-type: none;
}

.social li {
	display: inline;
	padding-left: 5%;
    padding-right: 5%;
}

.social a {
	text-decoration: none;
	color:#339999;
}

.social a:link {
	color:#339999; 
}

.social a:hover, a:active {
	color:#33cccc;
}
